<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
	<welcome-file-list>
	    <welcome-file>index.jsp</welcome-file>        
	</welcome-file-list>
	<servlet>
		<servlet-name>api</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jakarta.ws.rs.Application</param-name>
            <param-value>org.oceanops.api.Application</param-value>
        </init-param>
	</servlet>
	<servlet>
		<servlet-name>OpenApiDefinition</servlet-name>
		<servlet-class>org.oceanops.api.OpenApiDefinition</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Help</servlet-name>
		<servlet-class>org.oceanops.api.Help</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>OpenApiDefinition</servlet-name>
		<url-pattern>/oceanops-api.yaml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Help</servlet-name>
		<url-pattern>/help</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Help</servlet-name>
		<url-pattern>/help/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api</servlet-name>
		<url-pattern>/data/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>CayenneFilter</filter-name>
		<filter-class>org.oceanops.api.filters.CayenneFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CayenneFilter</filter-name>
		<url-pattern>/data/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>org.oceanops.api.filters.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/data/*</url-pattern>
	</filter-mapping>

</web-app>